[package]
name = "runinator"
version = "0.1.0"
edition = "2024"

[profile.dev]
opt-level = 0

[profile.release]
opt-level = 3
debug=false

[dependencies]
log = "0.4"
tokio = { version = "1", features = ["full"] }
log-panics = { version = "2", features = ["with-backtrace"]}

runinator-models = { path = "../runinator-models" }
runinator-config = { path = "../runinator-config" }
runinator-database = { path = "../runinator-database" }
runinator-plugin = { path = "../runinator-plugin" }
runinator-scheduler = { path = "../runinator-scheduler" }
runinator-ws = { path = "../runinator-ws" }
runinator-utilities = { path = "../runinator-utilities" }