[package]
name = "runinator-scheduler"
version = "0.1.0"
edition = "2024"

[dependencies]
log = "0.4"
croner = "2.0.6"
either = "1.13"
futures-util = "0.3.31"

sqlx = { version = "0.6", features = ["sqlite", "runtime-tokio-native-tls", "macros"] }
tokio = { version = "1", features = ["full"] }
chrono = { version = "0.4", features = ["serde"] }
serde = { version = "1.0", features = ["derive"] }
uuid = { version = "1.3", features = ["v4"] }

runinator-plugin = { path = "../runinator-plugin" }
runinator-config = { path = "../runinator-config" }
runinator-models = { path = "../runinator-models" }
runinator-database = { path = "../runinator-database" }
runinator-provider-aws = { path = "../runinator-provider-aws" }
runinator-provider-sql = { path = "../runinator-provider-sql" }