[package]
name = "runinator-scheduler"
version = "0.1.0"
edition = "2024"

[dependencies]
log = "0.4"
croner = "2.0.6"
clap = { version = "4.5", features = ["derive"] }
tokio = { version = "1", features = ["full"] }
chrono = { version = "0.4", features = ["serde"] }
uuid = { version = "1.3", features = ["v4"] }
reqwest = { version = "0.12", default-features = false, features = ["json", "rustls-tls"] }
serde = { version = "1.0", features = ["derive"] }
async-trait = "0.1"

runinator-models = { path = "../runinator-models" }
runinator-utilities = { path = "../runinator-utilities" }
log-panics = "2.1"
runinator-comm = { path = "../runinator-comm" }
runinator-api = { path = "../runinator-api" }
